body 
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(20, 20, 20, 0.8)), url('assets/stormy-clouds-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(10, 10, 10, 1);
    margin: 0%;
}

a 
{
    text-decoration: none;
}


/* --- Header section --- */


.header 
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    padding-left: 12vw;
    padding-right: 12vw;
    height: 80px;
    gap: 30px;
    position: fixed;
    left: 0; top: 0; right: 0;
    z-index: 100;
    /* background-color: rgba(20, 20, 20, 0.7); */
}

.title 
{
    display: flex;
    justify-content: start;
    align-items: center;
    height: inherit;
}

#amb 
{
    color: antiquewhite;
    font-size: 2rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8)
}

.menus 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: inherit;
}

.btn 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8);
}

.btn:hover 
{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}

.contacts 
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    height: inherit;
}

.cont 
{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.cont:hover 
{
    transform: scale(1.1);
    opacity: 1;
}

#notify 
{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
    box-shadow: 2px 5px 10px rgba(20, 20, 20, 0.6);
}

.cont img 
{
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: 2px 5px 10px rgba(20, 20, 20, 0.6);
}


/* ---- Dropdown ---- */


.dropdown 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: inherit;
    font-size: 1rem;
    color: white;
}

.dropdown-cont 
{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    /* background-color: rgba(119, 136, 153, 0.3); */
    border-radius: 10px;
    gap: 10px;
    color: whitesmoke;
}

.dropdown:hover .dropdownbtn 
{
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1)
}

.dropdown:hover .dropdown-cont 
{
    display: flex;
}

.dropdown-cont a 
{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1rem;
}

.dropdown-cont div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    border: 2px solid rgba(119, 136, 153, 0.6);
    border-radius: 25px;
    box-shadow: 3px 5px 10px black;
    background-color: rgba(40, 40, 40, 0.5);
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8);
}

.dropdown-cont div:hover 
{
    /* cursor: pointer; */
    /* background-color: rgba(119, 136, 153, 0.6); */
    background-color: rgba(23, 63, 93, 0.5);
}

.dropdown-cont div:hover a 
{
    color: rgba(255, 255, 255, 1);
}

.dropdown-cont a:hover 
{
    transform: scale(1.1);
    opacity: 1;
}

.dropdown span 
{
    font-size: 1rem;
    margin-right: 10px;
    opacity: 0.7;
}

.dropdown:hover span 
{
    cursor: default;
    opacity: 1;
    transform: scale(1.05);
}


/* --- Content body --- */


.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12vw;
    margin-right: 12vw;
    height: 100vh;
}

.content 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content div 
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#inov 
{
    display: flex;
    align-items: center;
}

#inov p 
{
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 10px;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.8);
    color: darkgray;
}

#intro 
{
    font-size: 6rem;
    color: white;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

#sub-intro 
{
    font-size: 2rem;
    padding: 0px;
    color: white;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

#lorem 
{
    display: flex;
    padding: 30px;
}

#lorem p 
{
    color: darkgray;
    font-size: 1rem;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}

#got 
{
    color: beige;
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.7);
}


/* --- map --- */


.dashboard 
{
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(20, 20, 20, 0.5);
}

.dashboard div 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: rgba(20, 20, 20, 0.7);
    font-size: 1.4rem;
    height: 50px;
    width: 12%;
    left: 43.5%;
    margin-top: 5px;
    position: absolute;
    box-shadow: 2px 5px 10px rgba(20, 20, 20, 0.6);
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 1);
    border-radius: 30px;
    font-size: 1.5rem;
}

.dashboard iframe 
{
    height: 400px;
    width: 100%;
    opacity: 0.7;
    position: relative;
    border-radius: 10px;
}


/* --- about section --- */


.about-section 
{
    background-color: rgba(25, 25, 25, 1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-size: cover;
}

.about-tag 
{
    color: white;
    font-size: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 15px;
}

hr 
{
    width: inherit;
    height: 0.1px;
    color: rgba(255, 255, 255, 0.2);
    margin: 0px;
}

.about-content 
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    margin-bottom: 40px;
}

.contributors 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    gap: 12px;
    font-size: 20px;
}

.name 
{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    gap: 5px;
}

.name div 
{
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
}

.git-icon img 
{
    height: 0.8rem;
    width: 0.8rem;
    opacity: 0.7;
}

li 
{
    list-style: none;
}

.cont-us 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 20px;
    color: white;
    gap: 12px;
}

.cont-us img 
{
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.7;
}

.university 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bbd-logo a 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbd-logo img 
{
    height: 60%;
}

.university div 
{
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.university span 
{
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}